<app-navbar></app-navbar>

<div class="header-container">
  <div class="header-content" [ngClass]="{'header-content-focused': uiService.isFocused}">
    <app-back-button *ngIf="uiService.isFocused"></app-back-button>

    <div *ngIf="dataService.activeProject !== undefined" #popup id="popup" class="popup" [ngStyle]="{left: uiService.popupLeft, top: uiService.popupTop} " [ngClass]="{'selected': uiService.isFocused, 'show': uiService.isHovering}">
      <div class="info-tag" [ngStyle]="{'background-color': dataService.activeColor.getRGBString()}">
        <p><strong>{{arrayToCommaSeparatedString(dataService.activeProject.type)}}</strong></p>
        <p>{{arrayToCommaSeparatedString(dataService.activeProject.media)}}</p>
      </div>
      <p class="title">{{dataService.activeProject.title}}</p>
    </div>
    <!-- <app-tags class="tags" [visible]="uiService.isFocused && uiService.isHovering" [project]="dataService.activeProject"></app-tags> -->

    <div class="direction-buttons" *ngIf="uiService.isFocused">
      <app-arrow-button (onButtonClick)="navigateButtonClick(dataService.previousProject.id)" [label]="dataService.previousProject.title"></app-arrow-button>
      <app-arrow-button (onButtonClick)="navigateButtonClick(dataService.nextProject.id)" [label]="dataService.nextProject.title" direction="right"></app-arrow-button>

    </div>
  </div>

</div>

