@import '../../assets/styles/variables.scss';

.header-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}

.header-content {
  width: 100%;
  max-width: 1080px;
  margin: 0 50px;
  height: 100vh;
  position: relative;
}

.popup {
  transform: scale(0);
  pointer-events: none;
  width: auto;
  max-width: 300px;
  text-align: left;
  margin-top: 0;
  position: absolute;
  z-index: 5000001;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;// left 0.5s ease-in-out, top 0.5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  background-color: #000;

  .info-tag {
    height: 17px;
    width: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,255);
    padding: 5px;

    p {
      text-transform: uppercase;
      color: white;
      font-weight: 100;
      font-family: $font-sans;
      font-size: 12px;
    }
  }
  .title {
    color: white;
    font-size: 28px;
    padding: 5px;
    padding-right: 25px;

    width: auto;
    margin-top: 0;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-weight: 300;
    letter-spacing: 1.1px;
    margin: 0;

  }
}


.selected {
  transition: all 0.3s ease-in-out;
  position: relative;
  min-width: 50%;
  margin-top: 20%;
  pointer-events: all;


  .title {
    font-size: 45px;
    padding: 20px;
  }
}

.show {
  transform: scale(1);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.direction-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 50px;

}

@media only screen and (max-width: 600px) {
  .header-content {
    width: 100%;
    margin: 0 15px;
  }

}
