<div class="photo-grid">
  <div class="content" [ngClass]="{'flip': content.vertical}">
    <div class="single">
      <!-- <div class="image" [ngStyle]="{'background-image': 'url(' + content.images[0].src +')'}"></div> -->
      <!-- <div class="ui-image" >
        <img [src]="content.images[0].src" [alt]="content.images[0].label" />
      </div> -->
      <app-ui-image class="ui-image" [image]="content.images[0]"></app-ui-image>

    </div>
    <div class="double">
      <div class="overflow">
        <!-- <div class="image" [ngStyle]="{'background-image': 'url(' + content.images[1].src +')'}"></div> -->
        <app-ui-image class="ui-image" [image]="content.images[1]"></app-ui-image>

      </div>
      <div class="overflow">
        <app-ui-image class="ui-image" [image]="content.images[2]"></app-ui-image>

        <!-- <div class="image" [ngStyle]="{'background-image': 'url(' + content.images[2].src +')'}"></div> -->
      </div>
    </div>

  </div>
</div>
