<div class="photo-grid">
  <div class="content" [ngClass]="{'flip': content.vertical}">
    <div class="single">
      <app-ui-image (handleClick)="imageClicked(0)" class="ui-image" [image]="content.images[0]"></app-ui-image>
    </div>
    <div class="double">
      <div class="overflow">
        <app-ui-image (handleClick)="imageClicked(1)" class="ui-image" [image]="content.images[1]"></app-ui-image>

      </div>
      <div class="overflow">
        <app-ui-image (handleClick)="imageClicked(2)" class="ui-image" [image]="content.images[2]"></app-ui-image>
      </div>
    </div>

  </div>
  <p-galleria [(value)]="content.images" [(visible)]="showImage" [(activeIndex)]="activeIndex" [containerStyle]="{'max-width': '850px'}"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.src" style="width: 100%; display: block;"/>
    </ng-template>
  </p-galleria>
</div>
