.photo-grid {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  .image {
    flex: 1;
    min-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

  }

  .ui-image {
    flex: 1;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    display: flex;



  }

  // .ui-image:hover {
  //   transform: scale(1.1);
  //   cursor: pointer;
  // }

  .image:hover {
    transform: scale(1.2);
    cursor: pointer;
  }


  .single {
    display: flex;
    flex: 1;
    margin-bottom: 15px;
    margin-right: 15px;
    overflow: hidden;

    .image {
      min-height: 400px;
    }
  }

  .double {
    display: flex;
    flex: 1;


    .overflow {
      width: 100%;
      overflow: hidden;
      margin-right: 15px;

      margin-bottom: 0;
      display:flex;
      flex-direction: column;
      justify-content: center;
    align-items: center;
    }

  }
}

.flip {
  flex-direction: row-reverse;

  .single {
    margin-bottom: 15px;


  }

  .double {
    margin-right: 15px;

    flex-direction: column;
    .overflow {
      margin-right: 0;

      margin-bottom: 15px;


    }

  }
}

