.tag-section {
  margin: 15px 0;
}

.tag-label {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
ul {
  margin: 2px 0 20px 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.tag {
  font-weight: 18px;
  text-transform: capitalize;
  margin-left: 10px;
}
