<svg *ngFor="let filter of filters" xmlns="http://www.w3.org/2000/svg">
  <filter [id]="filter.r.toString() + filter.g.toString() + filter.b.toString()">
    <feColorMatrix type="matrix" result="grayscale" values="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0" />
    <feComponentTransfer color-interpolation-filters="sRGB" result="color_blend">
      <feFuncR type="table" [attr.tableValues]="dataService.isDarkMode ? '0 ' + filter.r / 255: filter.r / 255 + ' 1'"></feFuncR>
      <feFuncG type="table" [attr.tableValues]="dataService.isDarkMode ? '0 ' + filter.g / 255: filter.g  / 255 + ' 1'"></feFuncG>
      <feFuncB type="table" [attr.tableValues]="dataService.isDarkMode ? '0 ' + filter.b / 255: filter.b / 255 + ' 1'"></feFuncB>
      <feFuncA type="table" tableValues="0 1"></feFuncA>
    </feComponentTransfer>
  </filter>
</svg>

