<div *ngIf="visible" class="color-picker-container" (mouseleave)="closePicker()">
  <div class="colors">
    <div *ngFor="let color of colors; let i = index" class="color">
      <p-colorPicker  [(ngModel)]="dataService.colors[i]" (onChange)="updateColor()" format="rgb"></p-colorPicker>
      <button class="trash-button" (click)="deleteColor(i)"><i class="pi pi-trash"></i></button>
    </div>
    <div class='edit-buttons'>
      <button class="add-button" (click)="addColor()"><i class="pi pi-plus"></i></button>
      <button class="reset-button" (click)="resetColors()"><span>RESET</span></button>
    </div>
  </div>
</div>
<!-- <div *ngIf="visible" class="click-away" (click)="closePicker()"></div> -->
