@import '../../assets/styles/variables.scss';

button {
  pointer-events: all;
  background-color: #ffffff;
  height: 40px;
  width: auto;
  display: flex;
  padding: 0;
  box-sizing: content-box;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 50px;

  .button-text {
    line-height: 40px;
    font-family: $font-mono;
    padding: 0 15px;
    font-size: 18px;
  }

  .icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    div {
      height: 20px;
      width: 20px;
    }
  }

}


:host ::ng-deep {

  .p-button {
    pointer-events: all;
    background-color: #ffffff;
    height: 40px;
    width: auto;
    display: flex;
    padding: 0;
    box-sizing: content-box;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;

    .p-button-icon {
      width: 40px;
      height: 40px;
      border-right: 1px solid;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

    }

    .p-button-label {
      padding: 0 15px 0 15px;
      font-size: 18px;
      font-family: $font-mono;
      pointer-events: none;

    }

  }
  .reverse {
    .p-button-icon {
      border-right: 0;
      border-left: 1px solid;
      margin-left: 0;
    }

    .p-button-label {
      padding: 0 15px 0 15px;
      font-size: 18px;
      font-family: $font-mono;
    }
  }

}

:host ::ng-deep .p-button:hover {
  opacity: 0.9 !important;
  background-color: #fff !important;
}

:host-context(.dark) {
  .p-button {
    background-color: rgba(0,0,0, 0.15);
  }

  .p-button:hover {
    background-color: rgba(0,0,0, 0.3) !important;
  }
}

