.image-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.custom-carousel {
  margin: 50px auto;
}

.image {
  min-height: 400px;
}
.image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ui-image {
  height: 100%;
}

:host ::ng-deep {
  // .p-carousel {
  //   width: 95vw;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  .p-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 95vh;
    width: 100vw;
  }
  .p-carousel-prev {
    z-index: 50000;
    position: absolute;
    left: 15px;
  }
  .p-carousel-next {
    position: absolute;
    right: 15px;
  }

  .p-carousel-next:focus, .p-carousel-prev:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color-highlight) !important;

  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: var(--primary-color);
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color-highlight) !important;
  }


}

