@import '../../assets/styles/variables.scss';


.project-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  pointer-events: none;
}


.project-content {
  max-width: 1080px;
  margin: 0 50px;
  pointer-events: all;
  z-index: 5;
}


.top {
  height: 100vh;
  width: 100%;
}
.project {
  pointer-events: all;
  width: 100%;
  position: relative;
}
.gradient {
  height: 80vh;
  position: absolute;
  width: 100%;
  top: 50vh;
  left: 0;
  background-image: linear-gradient(transparent, $color-background);
}

@media only screen and (max-width: 600px) {
  .project-content {
    margin: 0 15px;
  }
}
