<div class="project-container">
  <div class="top">
    <div class="gradient"></div>
  </div>
  <div *ngIf="project !== undefined && project.pageContent !== undefined" class="project-content">
    <div *ngFor="let section of project.pageContent">
      <div [ngSwitch]="section.type">
        <app-feature-text *ngSwitchCase="ContentType.FEATURE" [content]="section.content"></app-feature-text>
        <app-photo-grid *ngSwitchCase="ContentType.PHOTOGRID" [content]="section.content"></app-photo-grid>
        <app-image-carousel *ngSwitchCase="ContentType.CAROUSEL" [images]="section.images"></app-image-carousel>
        <app-text-block *ngSwitchCase="ContentType.TEXT" [content]="section.content"></app-text-block>
        <app-video *ngSwitchCase="ContentType.VIDEO" [content]="section.content"></app-video>

      </div>
    </div>
  </div>
</div>
