@import '../../assets/styles/variables.scss';


.project-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: none;
}

.top {
  height: 100vh;
  width: 100%;
}
.project {
  pointer-events: all;
  width: 100%;
  position: relative;
}
.gradient {
  height: 300px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(transparent, $color-background);
}

