<p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" >
  <ng-template let-image pTemplate="item" class="image-container">
    <app-ui-image (handleClick)="imageClicked(image)" class="ui-image" [image]="image" ></app-ui-image>
    <!-- <div (click)="imageClicked(image)" [ngStyle]="{'background-image': 'url(' + image.src + ')'}" class="image" ></div> -->
  </ng-template>
</p-carousel>
<p-galleria [(value)]="images" [(visible)]="showImage" [(activeIndex)]="activeIndex" [containerStyle]="{'max-width': '850px'}"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.src" style="width: 100%; display: block;"/>
    </ng-template>
</p-galleria>
